body {
	background: #D0E4F5 url("https://i.imgur.com/nafv7yx.jpeg") repeat scroll 0% 0%;
  }
  
  h1 {
	color: white;
	text-align: center;
  }
  
  p {
	font-family: verdana;
	font-size: 20px;
  }
  header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	width: 100%;
	height: 56px;
	z-index: 5;
	position: fixed;
	box-shadow: 0 0 9px -3px #000;
	background-color: var(--background-2);
}